.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.labelContainer {
  margin-bottom: 10px;
}

.inputField {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.solveButton {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.solveButton:hover {
  background-color: #45a049;
}

.createButton {
  background-color: #2196f3;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.createButton:hover {
  background-color: #0b7dda;
}

.resetButton {
  background-color: #f44336;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.resetButton:hover {
  background-color: #d32f2f;
}

.output {
  padding-top: 40px;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  color: white;
}
